.features {
  padding: 98px 0 158px;
  min-height: 100vh;

  &-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 20px;
  }

  &-header {
    display: flex;
    align-items: flex-end;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 4;
  }

  &-footer {
    grid-row-start: 5;
    grid-column-start: 10;
    grid-column-end: span 3;
  }

  &-item-1 {
    grid-row-end: span 3;
    grid-row-start: 1;
    grid-column-start: 5;
    grid-column-end: span 5;
  }

  &-item-2 {
    grid-row-end: span 2;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 4;
  }

  &-item-3 {
    grid-row-end: span 1;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  &-item-4 {
    grid-row-end: span 1;
    grid-row-start: 4;
    grid-column-start: 4;
    grid-column-end: span 2;
  }

  &-item-5 {
    grid-row-end: span 2;
    grid-row-start: 4;
    grid-column-start: 6;
    grid-column-end: span 4;
  }

  &-item-6 {
    grid-row-end: span 1;
    grid-row-start: 4;
    grid-column-start: 10;
    grid-column-end: span 3;
  }

  &-item-7 {
    grid-row-end: span 1;
    grid-row-start: 5;
    grid-column-start: 3;
    grid-column-end: span 3;
  }
}
