$font-family-base: "Neue Haas Unica";

$btn-padding-x: 1.25rem;
$btn-padding-y: 0.75rem;

$container-padding-x: 1.25rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$colors: (
  "purple": #222647,
  "blue": #4a52ff,
  "tint ": #c9cbff,
  "gray": #c7c5c3,
  "yellow": #fffb94,
  "green": #96e697,
  "black": #191919,
  "white": #fff,
);

$color-text-base: #fff;
